@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Laboratorio 2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Correo Cliente</th>
            <th>N. Producto</th>
            <th>Precio</th>
        </tr>
    </thead>
     <tbody>
        @foreach (var tienda in Model.Data)
        {
            foreach (var x in tienda.pedidos)
            {
                <tr>
                    <td>@x.correo_cliente</td>
                    <td>@x.nombre_producto</td>
                    <td>@x.precio_producto</td>
                </tr>
            }
        }
    </tbody>
</table>




